version: '3'

services:
  navidash:
    image: ghcr.io/wtfllix/navidash:master
    container_name: navidash
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ./data:/app/data
    environment:
      - NODE_ENV=production
