@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Override react-grid-layout placeholder style */
.react-grid-placeholder {
  background: #e2e8f0 !important; /* slate-200 */
  opacity: 0.5 !important;
  border-radius: 0.75rem !important; /* rounded-xl */
  z-index: 1 !important;
}
